{% extends "base.html" %}
{% block head %}
<style>
    #notfound {
        color: var(--offwhite);
        text-shadow: 0 0 5px black;
        font-size:1.5rem;
        display: flex;
        text-align: center;
        justify-content: center;
        height:50%;
        flex-direction:column;
    }
</style>
{% endblock head %}
{% block content %}
<div id="notfound">
<h1>
404
</h1>
404 Not Found: <br>
The requested URL was not found on the server. <br>
If you entered the URL manually please check your spelling and try again.
</div>
<!--{{e}}-->
{% endblock content %}