{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="{{ url_for('static', filename='chat.js') }}" defer></script>
{% endblock head %}
{% block content %}
<div id="content_wrap">
<div id="chat_window">

    <div id="chat">
        <div class="userChat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, quisquam!!!</div>
        <div class="robotChat"><a href="https://example.com" target="_blank">Hello</a>, how are you?</div>
        <div class="userChat">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, vero.</div>
        <div class="robotChat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium assumenda autem deleniti dolorum ea eum ex fuga illo illum, itaque, labore laborum maxime minima molestias nesciunt non officia quidem quos ratione repellendus, reprehenderit tempora tempore totam voluptatum. Architecto delectus deserunt eveniet hic illo molestias quas ut veniam voluptates voluptatibus?</div>
        <div class="userChat">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, vero.</div>
        <div class="robotChat">Lorem ipsum dolor sit amet.</div>
        <div class="userChat">Lorem ipsum dolor sit amet.</div>
        <div class="robotChat">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium assumenda autem deleniti dolorum ea eum ex fuga illo illum, itaque, labore laborum maxime minima molestias nesciunt non officia quidem quos ratione repellendus, reprehenderit tempora tempore totam voluptatum. Architecto delectus deserunt eveniet hic illo molestias quas ut veniam voluptates voluptatibus?</div>
    </div>

    <div id="chatForm">
        <form id="form">
            {{ form.hidden_tag() }}
            {{ form.chat(placeholder="Ask me anything!", autocomplete="off", maxlength="200", id="send") }}
            {{ form.submit() }}
        </form>
    </div>
    <!--            <span id="count" style="font-size:0.7rem;display:inline-block;text-align: center;width:100%;position:absolute;">200</span>-->


</div>
<aside>
    <section>
        <h3>Chatbot Ask Me Anything!</h3>
        <p>
            Ask the bot about certain topics or to define words: <em>Who is Linus Torvalds?</em>
        </p>
           <ul>
               <li style="list-style-type: none"><u>Or try these commands</u><br><br></li>
               <li><u>!8ball</u> (ask the magic 8ball)</li>
               <li><u>!random <em>5 150</em></u>. random number between 2 numbers</li>
               <li><u>!wod</u> (see the word of the day (<a href="https://wordnik.com/" target="_blank">wordnik</a>)</li>
            </ul>
    </section>
</aside>
</div>


{% endblock content %}