{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='chat.css') }}">
    <script src="{{ url_for('static', filename='chat.js') }}" defer></script>
{% endblock head %}
{% block content %}
<div id="content_wrap">
<div id="chat_window">

    <div id="chat">
        <div class="robotChat">Hello!</div>
    </div>

    <div id="chatForm">
        <form id="form">
            {{ form.hidden_tag() }}
            {{ form.chat(placeholder="Ask me anything!", autocomplete="off", maxlength="200", id="send") }}
            {{ form.submit() }}
        </form>
    </div>
    <!--            <span id="count" style="font-size:0.7rem;display:inline-block;text-align: center;width:100%;position:absolute;">200</span>-->


</div>
<aside>
    <section>
        <h3>Chatbot Ask Me Anything!</h3>
            <br>
                Ask the bot about certain topics or to define words: <em>Who is Linus Torvalds?</em>
                    <br>
                Ask for some advice.
           <ul>
               <li style="list-style-type: none"><u>Or try these commands</u><br><br></li>
               <li><u>!8ball</u> (ask the magic 8ball)</li>
               <li><u>!random <em>5 150</em></u>. random number between 2 numbers</li>
               <li><u>!wod</u> (see the word of the day (<a href="https://wordnik.com/" target="_blank">wordnik</a>)</li>
            </ul>
    </section>
</aside>
</div>


{% endblock content %}