{% extends "base.html" %}
{% block head %}
    <script src="/static/logs.js" defer></script>
{% endblock head %}
{% block content %}
<style>
    button {
        margin: 0 1rem;
    }
    .container {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        width:50%;
        min-height:100px;
        margin: 1rem auto;
        border-radius: 1rem;
        filter: drop-shadow(0 20px 10px rgba(47,45,101, 0.4));
        border-bottom: 10px solid #C8C8C8FF;
    }
    .container section {
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
    }
    .container span {
        /* border:1px solid green; */
    }
    .container img {
        width: 64px;
        height: 64px;
    }
    .ml_span, .mr_span{
        margin: 1rem;
    }
    details {
        cursor: pointer;
    }
    section img {
        border:2px solid var(--purple);
    }
    {#details[open] {#}
    {#    cursor: pointer;#}
    {#}#}
</style>
<main id="main">
        <h3>Guild Wars 2 Logs</h3>
        <ul>
            <li>You can only view logs from a guild where you are ranked as a leader.</li>
            <li>You only need a minimum of the <em>guilds</em> option in your ANet API key for this to work.</li>
        </ul>
    <section>
    <form id="api_form" method="post">
        <label for="api_key"></label><input type="text" name="api_key" id="api_key" placeholder="Enter your API key here." maxlength="80" size="80" required>
        <label for="length"></label><select name="length" id="length" required>
            <option value="" selected></option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="all">All</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    <form id="filter">
        <label for="joined"></label><input type="checkbox" id="joined"> joined
        <label for="invited"></label><input type="checkbox" id="invited"> invited
        <label for="invite_declined"></label><input type="checkbox" id="invite_declined"> invite declined
        <label for="kick"></label><input type="checkbox" id="kick"> kick/leave
        <label for="rank_change"></label><input type="checkbox" id="rank_change"> rank_change
        <label for="treasury"></label><input type="checkbox" id="treasury"> treasury
        <label for="stash"></label><input type="checkbox" id="stash"> stash
        <label for="motd"></label><input type="checkbox" id="motd"> motd
        <label for="upgrade"></label><input type="checkbox" id="upgrade"> upgrade
        <label for="influence"></label><input type="checkbox" id="influence"> influence
    </form>
    <br>
    </section>
</main>

{% endblock content %}