{% extends "base.html" %}
{% block head %}
{% endblock head %}
{% block content %}

<main>
    <section>
        <h2 style="text-decoration: underline;"><a href="/projects/chat/">Chat Bot</a></h2>
        <p>
            Interactive chat bot.
        </p>
    </section>
    <section>
        <h2 style="text-decoration: underline;"><a href="/projects/gw2/">Gw2 logs</a></h2>
        <p>
            View a formatted version of your guilds logs outside of game.
        </p>
    </section>
</main>








{% endblock content %}